<script type='text/javascript'>
Dashing.widget_base_dimensions = [470,432];
</script>

<% content_for :title do %>System status<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="dc1" data-view="List" data-unordered="true" data-title="Data Center 1"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="dc2" data-view="List" data-unordered="true" data-title="Data Center 2"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="dc3" data-view="List" data-unordered="true" data-title="Data Center 3"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="network" data-view="List" data-unordered="true" data-title="Network"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="miscellaneous" data-view="List" data-unordered="true" data-title="Miscellaneous"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="communication" data-view="List" data-unordered="true" data-title="Communication"></div>
    </li>
  </ul>
</div>
